li{
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#apply { width: 65px;}

#width {width: 100px;}
#height {width: 100px;}
#fntsize {width: 80px;}
#fntcolor {width: 150px;}
#bgcolor {width: 150px;}
#inputtxt {width: 400px;}

#result {
    border: 2px solid black;
    display: flex;
    justify-content: right;
    align-items: center;
}